// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	background-color: #b8cdcb;
}

body {
	// override Skeleton's strange line-height setting
	line-height: 1.0;

	@extend %lato-light;

	// Note: below are very loose responsive breakpoints;
	// tighten up as needed for your application.

	/* ----------- Phones ----------- */
	@media screen
		and (max-width: 750px) {
			font-size: 16px;
	}

	/* ----------- Tablets ----------- */
	@media screen
		and (min-width: 750px) 
		and (max-width: 1280px) {
			font-size: 20px;
	}

	/* ----------- Non-Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 1) {
			font-size: 24px;
	}

	/* ----------- Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 2)
		and (min-resolution: 192dpi) {
			font-size: 2px;
	}
}

.container {
	padding: $container-padding;
}

.full-height {
	height: 100%;
}

.template-tile {
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	white-space: pre-wrap;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f3f3f3;
}


.top-row {
	// flexible top row height, set in JS
	// by App.jsx#computeComponentDimensions
	margin-bottom: $container-padding;
}

header {
	position: relative;
	height: $header-height;
	padding-top: 0px;
	text-align: center;

	h1 {
		margin: 0;
		padding-bottom: 12px;
	}

	.header-main {
		@extend %lora-light;
		text-transform: uppercase;
		font-size: 0.9em;
		letter-spacing: 0.04em;

	}

	.header-sub {
		@extend %lora-light;
		font-size: 0.7em;
		margin-left: 0.9em;
		letter-spacing: 0.002em;
	}

	h4 {
		cursor: pointer;
		display: inline-block;
		background-color: #b8cdcb;
		padding: 0 10px;
		letter-spacing: .02em;
	}

	h4:hover {
		color: #111;
	}

	hr.style-eight {
		margin-top: -30px;
	    padding: 0;
	    border: none;
	    border-top: 1px solid #d72e2a;
	    color: #333;
	    text-align: center;
	    max-width: 610px;
	}
	
	hr.style-eight:after {
	    display: inline-block;
	    position: relative;
	    top: -0.7em;
	    font-size: .8em;
	    padding: 0 3em;
	    background: #b8cdcb;
	}

}

.leaflet-container {
	width: 100%;
	height: 100%;
	background: #f3f3f3;
}

.city-selector {
	height: $header-height;
	padding-right: -20px;
}

.dataViewer {
	margin-top: $header-height;
}

.intro-button {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	border: none;
	background: none;
	padding: 0;
	color: #777;

	header & {
		bottom: 0.5em;
		right: 0.1em;
	}
	.left-column .bottom-row & {
		left: 0.8333em;
		bottom: 0.8333em;
	}
	.right-column .top-row & {
		top: 0.8333em;
		right: 0.8333em;
		&.has-scrollbar {
			right: 1.5em;
		}
	}
	.right-column .bottom-row & {
		bottom: 0.8333em;
		right: 0.8333em;
	}
}

.icon.info {
	display: block;
	width: 1em;
	height: 1em;
	border: 1px solid #888;
	border-radius: 50%;
	&::before {
		content: 'i';
		position: absolute;
		top: 0.25em;
		left: 0.56em;
		font-size: 0.8em;
		font-family: serif;
		font-weight: bold;
	}
}

.ReactModalPortal {

	.ReactModal__Overlay {
		// lift above Leaflet controls
		z-index: 2000;
		background-color: rgba(51,51,51,.25);

	}

	.ReactModal__Content {
		position: absolute;
		width: 36em;
		top: 2em;
		bottom: 2em;
		padding: 2.5em;
		left: 50%;
		margin-left: -15em;

		background-color: #f3f3f3;
		line-height: 1.9em;

		li {
			list-style-type: none;
		}

		p, ul {
			@extend %lato-light;
			font-size: 1em;
		}

		h1, h2, h3, h4, h5, h6 {
			@extend %merriweather-light !optional;
			text-transform: uppercase;
		}

		button.close {
			position: absolute;
			top: 1em;
			right: 1em;
			border: none;
			background: none;
			padding: 0;

			span {
				font-size: 2.25em;
			}
		}
	}
}

#nav_header h1 {
	font-size: 24px;
	margin-left: 120px;
	font-family: 'Oswald';
	color: #28668a;
	opacity: 0.5;
	clear: left;
}

#hamburger, #navburger {
	position: fixed;
	left: 34px;
	top: 17px;
	z-index: 100;
	cursor: pointer;
}

/* .content {
	height: 60px;
} */



.map-legend-wrapper {
  position:absolute;
  bottom: 55px;
  left: 50px;
  margin-bottom: 0;
  font-size:66%;

  ul {
    margin:0;
    padding:0;

    li {
      position:relative;
      list-style-type: none;
      margin: 0;
      margin-bottom: 0;
      background-color: #b8cdcb;
      border-radius: 4px;
      border: 1px solid #a6b9b7;
      border-bottom: 0;
      padding: 8px;
      padding-left: 32px;
      cursor: pointer;
      opacity: .97;

      &:last-child {
        border-bottom: 1px solid #a6b9b7;
      }

      &.off {
        opacity:.7;
      }

      span {
        &:before {
          display: inline-block;
          position: absolute;
          left: 6px;
          content: "";
          border: solid 1px black;
          width: 10px;
          height: 10px;
          top: 6px;
        }
      }

      &.narratives {
        span {
          &:before {
            border: none;
            background-color: transparent;
            top: 1px;
            left: 1px;
            width: 26px;
            height: 26px;
            background-image: url('static/area-desc-3.svg');
          }
        }
      }

      &.user {
        span {
          &:before {
            border: none;
            background-color: transparent;
            top: 4px;
            left: 6px;
            width: 16px;
            height: 16px;
            background-image: url('static/user_location_icon.svg');
          }
        }
      }

	  &.first {

	        span {
	          &:before {
	            border-color: #888;
	            background-color: #87b788;
	          }
	        }

	      }

	  &.second {

	        span {
	          &:before {
	            border-color: #888;
	            background-color: #8c8bc3;
	          }
	        }

	      }

	  &.third {

	        span {
	          &:before {
	            border-color: #888;
	            background-color: #f1efa7;
	          }
	        }

	      }

	  &.fourth {

	        span {
	          &:before {
	            border-color: #888;
	            background-color: #f08685;
	          }
	        }

	      }

	  &.sparse {
        span {
          &:before {
            border: none;
            background-color: transparent;
            top: 2px;
            left: 1px;
            width: 18px;
            height: 18px;
            background-image: url('static/sparse.svg');
          }
        }
      }

      &.industrial {
        span {
          &:before {
            border: none;
            background-color: transparent;
            top: 2px;
            left: 1px;
            width: 18px;
            height: 18px;
            background-image: url('static/industrial.svg');
          }
        }
      }

    }
  }

  button.info-icon.info-icon-legend {
    position: relative;
    top: 0;
    left: 0;
    bottom: auto;
    margin-bottom: 5px;
  }
}

.city-choice {
	height: 40px;
}

.main-pane {
	position: relative;
}

.the_ad {
	position: absolute;

	top: 20px;
	left: 20px;
	background: #444;
}

.longishform,
.contactUs {
	position: absolute;

	bottom: 20px;
	top: 20px;
	left: 20px;
	right: 20px;
	z-index: 10000;
	overflow-y: scroll;
	background: rgba(243, 243, 243, 0.92);
	text-align: center;

	.content,
	.contactUsForm {
		margin: 10px auto;
		width: 600px;
	}

	p, ul {
		@extend %lato-light;
		font-size: 1.5em;
		text-align: initial;
	}

	h1, h2, h3, h4, h5, h6 {
		@extend %merriweather-light !optional;
		text-transform: uppercase;
	}

	button {
		border: none;
		margin-left: 580px;
		font-size: 2em;


	}

}

$bulletSize: 10px;
$bulletBorder: 1px;
$colorLightGrey: #b3b3b3;

.panorama.legend {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 100;
	width: 180px;

	ul {
		margin: 0;
		padding: 0;

		li {
			position: relative;
			opacity: .95;
			margin-bottom: 0;

			cursor: pointer;
			list-style-type: none;
			background-color: #b8cdcb;
			border-radius: 4px;
			border: 1px solid #a6b9b7;
			border-bottom: 0;
			padding: 6px;
			padding-left: 32px;

			&:last-child {
				border-bottom: 1px solid $colorLightGrey;
			}

			&.selected {
				opacity: .95;
			}

			span {
				&:before {
					display: inline-block;
					position: absolute;
					left: calc(0.5 * #{$bulletSize});
					content: "";
					border: solid #{$bulletBorder} black;
					width: $bulletSize;
					height: $bulletSize;
					top: calc(50% - 0.5 * #{$bulletSize + 2*$bulletBorder});
				}
			}

			&:nth-child(1) {
				span {
					&:before {
						border-radius: 0;
						border-color: $gradeA;
						background-color: rgba($gradeA, 0.7);
					}
				}
			}

			&:nth-child(2) {
				span {
					&:before {
						border-color: $gradeB;
						background-color: rgba($gradeB, 0.7);
					}
				}
			}

			&:nth-child(3) {
				span {
					&:before {
						border-color: $gradeCDark;
						background-color: rgba($gradeCDark, 0.7);
					}
				}
			}

			&:nth-child(4) {
				span {
					&:before {
						border-color: $gradeD;
						background-color: rgba($gradeD, 0.7);
					}
				}
			}

			&:nth-child(5) {
				span {
					&:before {
						background-color: transparent;
						border-color: transparent;
						top: 0px;
						left: 0px;
						width: 20px;
						height: 20px;
						background-image: url('static/area-desc-2.svg');

					}
				}
			

			}
		}
	}

	&.adClose {
		top: 10px;
		right: 10px;
		left: auto;
		width: auto;

		ul {
			li:nth-child(1) {
				padding: 4px 10px;
				background-color: white;
				color: #444;
				font-weight: bold;
				span {
					&:before {
						border: none;
						background-color: rgba($gradeD, 0);
					}
				}
			}
		}
	}
}

.contactUs {

	input,
	textarea,
	submit {
		display: block;
		margin: 20px 0 20px 250px;
		width: 350px;
	}

	textarea {
		height: 200px;
	}

	label {
		text-align: right;
		float: left;
		width: 230px;
		padding-top: 10px;
	}

	.contactUsForm {
		p {
			margin-left: 250px;
		}
	}
}










