// fill the browser with our glorious website
body,
html {
	height: 100%;
	width: 100%;
	background-color: #b8cdcb;
}

body {
	// override Skeleton's strange line-height setting
	line-height: 1.0;

	@extend %lato-light;

	// Note: below are very loose responsive breakpoints;
	// tighten up as needed for your application.

	/* ----------- Phones ----------- */
	@media screen
		and (max-width: 750px) {
			font-size: 16px;
	}

	/* ----------- Tablets ----------- */
	@media screen
		and (min-width: 750px) 
		and (max-width: 1280px) {
			font-size: 20px;
	}

	/* ----------- Non-Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 1) {
			font-size: 24px;
	}

	/* ----------- Retina Screens ----------- */
	@media screen
		and (min-width: 1280px) 
		and (-webkit-min-device-pixel-ratio: 2)
		and (min-resolution: 192dpi) {
			font-size: 2px;
	}
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1em; }
h4 { font-size: 0.87em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.35em; }

.container {
	padding: $container-padding;
}

.full-height {
	height: 100%;
}

.template-tile {
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	white-space: pre-wrap;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f3f3f3;


	// double border
	&::before {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: solid 0px #56554e;
		pointer-events: none;
	}

	&::after {
		position: absolute;
		display: block;
		content: '';
		top: 0.4em;
		right: 0.4em;
		bottom: 0.4em;
		left: 0.4em;
		border: solid 0px #56554e;
		pointer-events: none;
	}
}

.punchcard-container {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.top-row {
	// flexible top row height, set in JS
	// by App.jsx#computeComponentDimensions
	margin-bottom: $container-padding;
}

.citydownloads h3 {
	background-color: #eaf0ef;
	text-align: center;
	cursor: pointer;
}

.bottom-row {
	// fixed bottom row height
	height: $bottom-row-height;
}

header {
	position: relative;
	height: $header-height;
	padding-top: 0px;
	text-align: center;

	h1 {
		margin: 0;
	}

	.header-main {
		@extend %lora-light;
		text-transform: uppercase;
		font-size: 0.9em;
		letter-spacing: 0.04em;

	}

	.header-sub {
		@extend %lora-light;
		font-size: 0.7em;
		margin-left: 0.9em;
		letter-spacing: 0.002em;
	}

	h4 {
		cursor: pointer;
		display: inline-block;
	}

	h4:hover {
		color: #111;
	}
}

.leaflet-container {
	width: 100%;
	height: 100%;
	background: #f3f3f3;
}

.intro-button {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	border: none;
	background: none;
	padding: 0;
	color: #777;

	header & {
		bottom: 0.5em;
		right: 0.1em;
	}
	.left-column .bottom-row & {
		left: 0.8333em;
		bottom: 0.8333em;
	}
	.right-column .top-row & {
		top: 0.8333em;
		right: 0.8333em;
		&.has-scrollbar {
			right: 1.5em;
		}
	}
	.right-column .bottom-row & {
		bottom: 0.8333em;
		right: 0.8333em;
	}
}
.icon.info {
	display: block;
	width: 0.8em;
	height: 0.8em;
	border: 1px solid #777;
	border-radius: 50%;
	&::before {
		content: 'i';
		position: absolute;
		top: 0.25em;
		left: 0.625em;
		font-size: 0.6em;
		font-family: serif;
	}
}

.ReactModalPortal {

	.ReactModal__Overlay {
		// lift above Leaflet controls
		z-index: 2000;
		background-color: rgba(51,51,51,.25);

	}

	.ReactModal__Content {
		position: absolute;
		width: 36em;
		top: 2em;
		bottom: 2em;
		padding: 2.5em;
		left: 50%;
		margin-left: -15em;

		background-color: #f3f3f3;
		line-height: 1.9em;

		li {
			list-style-type: none;
		}

		p, ul {
			@extend %lato-light;
			font-size: 1em;
		}

		h1, h2, h3, h4, h5, h6 {
			@extend %merriweather-light;
			text-transform: uppercase;
		}

		button.close {
			position: absolute;
			top: 1em;
			right: 1em;
			border: none;
			background: none;
			padding: 0;

			span {
				font-size: 2.25em;
			}
		}
	}
}

#hamburger {
	position: fixed;
	left: 30px;
	top: 28px;
	z-index: 100;
	cursor: pointer;
}