// sizes
// (be sure to copy any changes to App.jsx#computeComponentDimensions)
$container-padding: 20px;
$header-height: 100px;

// colors
$background: #b8cdcb;
$text-color: #454545;
$gradeA: #418e41;
$gradeB: #4a4ae4;
$gradeC: #ffdf00; /* #f4f570; */
$gradeD: #eb3f3f;
$gradeCDark: #ffdf00;