.donut, .donuthole {
	stroke-opacity: 0;
	stroke: #333;
}

.ringArea {
	stroke: black;
	stroke-width: 1;
}


.gradeA {
	fill: green;
}
.gradeB {
	fill: blue;
}
.gradeC {
	fill: yellow;
}
.gradeD {
	fill: red;
}

.selected1 {
	visibility: visible !important;
	fill-opacity: 1;
}

.ringMask {
	stroke: none;
	fill: #333;
}

body {
	font-size: 16px;
}



.neighborhoodPolygon {
	fill-opacity: 0;
	stroke-opacity: 1;

	&.deemphasize {
		fill: white;
		fill-opacity: 0.5;
	}

	&.gradeA {
		stroke: green;
	}
	&.gradeB {
		stroke: blue;
	}
	&.gradeC {
		stroke: yellow;
	}
	&.gradeD {
		stroke: red;
	}
}


