.donut, .donuthole {
	stroke-opacity: 0;
	stroke: #000;
	fill: #000;
}

.ringArea {
	stroke: black;
	stroke-width: 1;
}


.gradeA {
	fill: #418e41;
}
.gradeB {
	fill: #4a4ae4;
}
.gradeC {
	fill: #f4f570;
}
.gradeD {
	fill: #eb3f3f;
}

.selected1 {
	visibility: visible !important;
	fill-opacity: 1;
}

.ringMask {
	stroke: none;
	fill: #333;
}

body {
	font-size: 16px;
}



.neighborhoodPolygon {
	fill-opacity: 0.5;
	stroke-opacity: 1;

	&.deemphasize {
		fill: #000;
		fill-opacity: 0.5;
	}

	&.gradeA {
		stroke: #418e41;
	}
	&.gradeB {
		stroke: #4a4ae4;
	}
	&.gradeC {
		stroke: #f4f570;
	}
	&.gradeD {
		stroke: #eb3f3f;
	}
}