.area_description {
    font-family: 'Myriad Pro';
    font-size: 14px;
    color: #333;
    font-weight: normal;
}

.neighborhood, .area_desc {
    margin-bottom: 1.5em;
}

h1, h2 {
    margin: 0.5em 0;
    letter-spacing: 0.75px;
}

h1.data_header {
    font-size: 1.5em;
    text-align: center;
}

h2.data_title {
    font-size: 1.15em;
    font-weight: bold;
    background-color: #f4f4f4 ;
    color: #397b6f;
    padding: 5px;
}

.area_description ul {
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;

    li {
        margin-bottom: 0.5em;

        :last-child {
            margin-bottom: 1em;
        }

        ul {
            margin-left: 1em;
        }
    }

}

.area_description li .category {
    font-weight: bold;
}