ul.area_description {
    font-family: 'Lato';
    font-size: 16px;
    color: #0c789a;
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;

    ul {
        margin: 7px 0 3px 20px;
    }

    li {
        list-style: none;
    }

    .catNum, .catLetter {
        width: 10px;
        text-align: right;
        display: inline-block;
        color: grey;
        margin-right: 10px;
        &:after {
            content: '.';
        }
    }

    .catName {
        font-style: bold;
        color: #555;
    }

    .subcatName {
        color: grey;
    }

    .subcatName:after {
        content: ':';
    }

    .catData {
        display: block;
        margin: 7px 0 7px 20px;
        font-weight: bold;
    }

    .subcatData {
        margin-left: 5px;
        font-weight: bold;
    }

    .empty {
        color: #888;
        font-style: italic;
    }
}





/* .area_description {
    font-family: 'Lato';
    font-size: 16px;
    color: #333;

    h1.data_header {
        font-size: 1.5em;
        text-align: center;
        margin: 0.5em 0;
        letter-spacing: 0.75px;
    }

    h2.data_title {
        font-size: 1.15em;
        font-weight: bold;
        background-color: #f4f4f4 ;
        color: #397b6f;
        padding: 5px;
        margin: 0.5em 0;
        letter-spacing: 0.75px;
    }

    ul {
        list-style: none;
        margin: 1em 0 0 0;
        padding: 0;

        li {
            margin-bottom: 0.5em;

            :last-child {
                margin-bottom: 1em;
            }

            ul {
                margin-left: 1em;
            }

            .answer {
               font-weight: bold;
            }
        }
    }
}

.neighborhood, .area_desc {
    margin-bottom: 1.5em;
} */








