ul.area_description {
    font-family: 'Lato';
    font-size: 16px;
    color: #0c789a;
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;

 

    li {
        list-style: none;
    }

    .catNum, .catLetter {
        text-align: right;
        display: inline-block;
        color: grey;
        margin-right: 10px;
        &:after {
            content: '.';
        }
    }

    .catName {
        font-weight: bolder;
        color: #555;
    }

    .subcatName {
        color: grey;
    }
    .catData {
        display: block;
        margin: 7px 0 7px 34px;
        line-height: 26px;
        font-weight: bolder;
    }

    .catSelectable {
        border-bottom: 1px dotted;
    }

    .subcatData {
        margin-left: 5px;
        line-height: 1.3;
        font-weight: bolder;
    }

    .empty {
        color: #888;
        font-style: italic;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-left: 20px;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    th, td {
        padding: 12px 5px;
        text-align: left;
        border-bottom: 1px solid #e1e1e1;
        color: grey;
        font-size: 14px;
    }

    td {
        color: #0c789a;
        padding-right: 4px;
        font-weight: bolder;
    }

    .percentage, .span {
        font-size: 14px;
        padding-left: 20px;
        line-height: 20px;
    }

    .indent {
       padding-left: 20px;
       white-space: pre-wrap;
    }

    ul.area_description .empty {
        padding-right: 4px;
    }

    .empty {
        color: #888;
        font-style: italic;
    }

}

h2 {
    text-align: center;
    background-color: #d3e0df;
}

.downloadicon {
    margin-left: -30px;
    margin-top: 2px;
    float: right;
    width: 30px;
    height: 26px;
    display: inline-block;
    background-image: url(http://dsl.richmond.edu/panorama/static/images/cloud.svg);
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.downloadicon:hover {
    opacity: 1.0;
}



/* .area_description {
    font-family: 'Lato';
    font-size: 16px;
    color: #333;

    h1.data_header {
        font-size: 1.5em;
        text-align: center;
        margin: 0.5em 0;
        letter-spacing: 0.75px;
    }

    h2.data_title {
        font-size: 1.15em;
        font-weight: bold;
        background-color: #f4f4f4 ;
        color: #397b6f;
        padding: 5px;
        margin: 0.5em 0;
        letter-spacing: 0.75px;
    }

    ul {
        list-style: none;
        margin: 1em 0 0 0;
        padding: 0;

        li {
            margin-bottom: 0.5em;

            :last-child {
                margin-bottom: 1em;
            }

            ul {
                margin-left: 1em;
            }

            .answer {
               font-weight: bold;
            }
        }
    }
}

.neighborhood, .area_desc {
    margin-bottom: 1.5em;
} */








