.panorama.item-selector {
	width: 100%;
	min-width: 10em;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	height: calc(100% - 50px - 20px);

	ul {
		height: 100%;
	}

	li {
		text-transform: none;
	}

	li.selected {
		color: #0c789a;
		background-color: #d3e0df;
		border-width: 0px !important;
	}

	li.selected:hover {
		color: #000;
	}

	h3 {
		text-transform: uppercase;
	}

}