.panorama.nestedpiechart {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;

	svg {
		display: inline-block;
		shape-rendering: 'crispEdges';
		margin-top: 20px;
	}

	#burgessDiagram {
		position: relative;
		top: -252px;
		width: 250px;
		pointer-events: none;	
	}
}